In [1]:
import pandas as pd

y = pd.Period('2016')
y
# here 'A' means annual and 'DEC' means ends in december

Period('2016', 'A-DEC')

In [3]:
# here we can find many usefull things like  what all methods we can apply
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
# this method in the dir see above
y.start_time
# this will return the starting date and time of those period

Timestamp('2016-01-01 00:00:00')

In [7]:
y.end_time
# this will return the ending date and time of those period

Timestamp('2016-12-31 23:59:59.999999999')

In [9]:
# we can customize it into monthly period also by supplying the month and another parameter freq='M'
m = pd.Period('2021-1', freq='M')
m

Period('2021-01', 'M')

In [10]:
m.start_time

Timestamp('2021-01-01 00:00:00')

In [11]:
m.end_time

Timestamp('2021-01-31 23:59:59.999999999')

# we can perform arithmatic operation on this Period values

In [13]:
# this is the wonderfull feature in period
m+1
# notice it will return second month because we add 1 month above

Period('2021-02', 'M')

In [14]:
# what happend if the month is december and we add one more month 
# let's check
m1 = pd.Period('2016-12', freq='M')
m1

Period('2016-12', 'M')

In [16]:
m1+1
# wow amazing it will go to next year and return the first month of that year

Period('2017-01', 'M')

In [18]:
# now we can create a daily time period
d = pd.Period('2017-02-28')
d
# here notice we do not specify freq parameter over there but default it will take day as freq

Period('2017-02-28', 'D')

In [19]:
# if we add ont to it
d+1
# it will take you to march because it is the end of the month

Period('2017-03-01', 'D')

# Period object aware of leap Year also

In [20]:
# now we think if period object aware of leap year let's check
d1 = pd.Period('2016-02-28')
d1

Period('2016-02-28', 'D')

In [22]:
d1+1
# wow it will give 29 because here 2016 is leap year it knows the leap year also

Period('2016-02-29', 'D')

In [23]:
# we can also use hourly frequency also
h = pd.Period('2017-02-28', freq='H')
h

Period('2017-02-28 00:00', 'H')

In [24]:
h+1

Period('2017-02-28 01:00', 'H')

In [25]:
h.start_time

Timestamp('2017-02-28 00:00:00')

In [26]:
h.end_time

Timestamp('2017-02-28 00:59:59.999999999')

In [30]:
# instead of using plus 1 directly  we can also do below thing also
h+pd.offsets.Hour(10)

Period('2017-02-28 10:00', 'H')

In [32]:
# In financial time series analysis people often use quaterly time series analysis
q = pd.Period('2017Q1')
q
# period also able to access quater also

Period('2017Q1', 'Q-DEC')

In [33]:
q+1

Period('2017Q2', 'Q-DEC')

In [34]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [35]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [45]:
# some company won't consider calendar they are considering ending in jan not december and start with febrary not january
# how we can solve this
q1 = pd.Period('2017Q1', freq='Q-JAN')
q1
# what it will return is janurary as ending

Period('2017Q1', 'Q-JAN')

In [40]:
# now we can verity above statement
q1.start_time
# Here we can clearly see that....starting not 2017 Q1 it is starting of the 2016 Q1

Timestamp('2016-02-01 00:00:00')

In [41]:
# we can also change this quaterly frequency to monthly frequency by asfreq method
 q1.asfreq('M', how='start')

Period('2016-02', 'M')

In [42]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [46]:
# we can perforom arithmatic operations on two periods
q2-q1

# Peiod_range

In [47]:
idx = pd.period_range('2011', '2017', freq='Q-JAN')
idx
# it start with 2011Q4 because it is the fiscal time we apply freq=Q-JAN

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [48]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [49]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [51]:
## we can use number of periods instead of end time
idx1 = pd.period_range('2017',periods=10, freq='Q-JAN')
idx1

PeriodIndex(['2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1',
             '2019Q2', '2019Q3', '2019Q4', '2020Q1'],
            dtype='period[Q-JAN]')

In [55]:
# using this index we can create a series also using numpy random funcion
import numpy as np
df = pd.Series(np.random.randn(len(idx1)), idx1)
df

2017Q4    0.378442
2018Q1    0.030268
2018Q2   -0.308238
2018Q3   -1.671862
2018Q4   -1.507936
2019Q1   -0.719628
2019Q2   -0.309997
2019Q3   -0.918160
2019Q4   -1.553539
2020Q1   -0.481689
Freq: Q-JAN, dtype: float64

In [56]:
# This is the period index
df.index

PeriodIndex(['2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1',
             '2019Q2', '2019Q3', '2019Q4', '2020Q1'],
            dtype='period[Q-JAN]')

In [57]:
# benefit of period index...if we want to retrive 2018 quaters from the df
df['2018']

2018Q4   -1.507936
2019Q1   -0.719628
2019Q2   -0.309997
2019Q3   -0.918160
2019Q4   -1.553539
Freq: Q-JAN, dtype: float64

In [58]:
# we can perfrom slicing operation also
df['2017':'2019']

2017Q4    0.378442
2018Q1    0.030268
2018Q2   -0.308238
2018Q3   -1.671862
2018Q4   -1.507936
2019Q1   -0.719628
2019Q2   -0.309997
2019Q3   -0.918160
2019Q4   -1.553539
2020Q1   -0.481689
Freq: Q-JAN, dtype: float64

In [59]:
# above is the Period index we can convert this into Datetime index
pst = df.to_timestamp()
pst

2016-11-01    0.378442
2017-02-01    0.030268
2017-05-01   -0.308238
2017-08-01   -1.671862
2017-11-01   -1.507936
2018-02-01   -0.719628
2018-05-01   -0.309997
2018-08-01   -0.918160
2018-11-01   -1.553539
2019-02-01   -0.481689
Freq: QS-NOV, dtype: float64

In [60]:
# now we can check
pst.index

DatetimeIndex(['2016-11-01', '2017-02-01', '2017-05-01', '2017-08-01',
               '2017-11-01', '2018-02-01', '2018-05-01', '2018-08-01',
               '2018-11-01', '2019-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [61]:
# again we can convert this into period index
pst.to_period()

2016Q4    0.378442
2017Q1    0.030268
2017Q2   -0.308238
2017Q3   -1.671862
2017Q4   -1.507936
2018Q1   -0.719628
2018Q2   -0.309997
2018Q3   -0.918160
2018Q4   -1.553539
2019Q1   -0.481689
Freq: Q-DEC, dtype: float64

In [62]:
import pandas as pd
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [63]:
df.set_index('Line Item', inplace=True)

In [64]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [65]:
df = df.T

In [66]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [67]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [68]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [ ]:
df['Start date'] = df.index.map(lambda x: )