# Time Series Analysis - 3

In [1]:
import pandas as pd
df = pd.read_csv('aapl_no_dates.csv')
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [2]:
pd.date_range(start='20170701', end='20170721', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [9]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [12]:
rng = pd.date_range(start='20170701', end='20170721', freq=usb)

In [13]:
df.set_index(rng, inplace=True)

In [14]:
df.head()

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636

In [21]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class myBirthDayCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("balaji's Birthday", month=9, day=17, observance=nearest_workday)

    ]
myc = CustomBusinessDay(calendar=myBirthDayCalendar())
myc

In [22]:
pd.date_range(start='20210901', end='20210930', freq=myc)

DatetimeIndex(['2021-09-01', '2021-09-02', '2021-09-03', '2021-09-06',
               '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10',
               '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16',
               '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23',
               '2021-09-24', '2021-09-27', '2021-09-28', '2021-09-29',
               '2021-09-30'],
              dtype='datetime64[ns]', freq='C')

In [35]:
## This is very easy and import way of doing time series Analysis
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=['2021-01-06', '2021-01-07'])

In [36]:
pd.date_range(start='20210104', end='20210131', freq=b)

DatetimeIndex(['2021-01-04', '2021-01-05', '2021-01-10', '2021-01-11',
               '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-17',
               '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
               '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27',
               '2021-01-28', '2021-01-31'],
              dtype='datetime64[ns]', freq='C')

In [37]:
# Above way we can choose business days and multiple holidays also